@page "/redwolfuser/login"
@using Microsoft.AspNetCore.Identity
@using RedWolf.Core
@using RedWolf.Models.RedWolf
@inject UserManager<RedWolfUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RedWolf.Pages.LoginModel
@{
    Layout = "_LoginLayout";
}

<div class="redwolf-logo">
    <img class="mb-5" src="~/images/redwolf-white.png" height="540" width="540">
    @if (!UserManager.Users.ToList().Where(U => UserManager.IsInRoleAsync(U, "Administrator").WaitResult()).Any())
    {
        <form method="post" class="form-signin">
            <h1 class="h5 text-white">Register Initial User</h1>
            <input asp-for="RedWolfUserRegister.UserName" class="form-control mb-3" placeholder="Username" required autofocus>
            <input asp-for="RedWolfUserRegister.Password" class="form-control" placeholder="Password" type="password" required>
            <input asp-for="RedWolfUserRegister.ConfirmPassword" class="form-control mb-3" placeholder="Confirm Password" type="password" required>
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Register</button>
        </form>
    }
    else
    {
        <form method="post" class="form-signin">
            <input asp-for="RedWolfUserRegister.UserName" class="form-control" placeholder="Username" required autofocus>
            <input asp-for="RedWolfUserRegister.Password" class="form-control mb-3" placeholder="Password" type="password" required>
            <input asp-for="RedWolfUserRegister.ConfirmPassword" value="login" class="form-control" hidden />
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Login</button>
        </form>
    }
    <center><font color='white'><p><b>Remember:</br>The strenght of the wolf is the pack and the strenght of the pack is the wolf.</b></p></font></center>
</div>
