[submodule "RedWolf/Data/ReferenceSourceLibraries/Rubeus"]
	path = RedWolf/Data/ReferenceSourceLibraries/Rubeus
	url = git@github.com:GhostPack/Rubeus.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpSploit"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpSploit
	url = git@github.com:cobbr/SharpSploit.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpDPAPI"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpDPAPI
	url = git@github.com:GhostPack/SharpDPAPI.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpUp"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpUp
	url = git@github.com:GhostPack/SharpUp.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/Seatbelt"]
	path = RedWolf/Data/ReferenceSourceLibraries/Seatbelt
	url = git@github.com:GhostPack/Seatbelt.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpDump"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpDump
	url = git@github.com:GhostPack/SharpDump.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpWMI"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpWMI
	url = git@github.com:GhostPack/SharpWMI.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpSC"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpSC
	url = git@github.com:djhohnstein/SharpSC.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/Certify"]
	path = RedWolf/Data/ReferenceSourceLibraries/Certify
	url = git@github.com:GhostPack/Certify.git
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpBypassUAC"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpBypassUAC
	url = git@github.com:FatRodzianko/SharpBypassUAC.git
