[submodule "RedWolf/Data/ReferenceSourceLibraries/Rubeus"]
	path = RedWolf/Data/ReferenceSourceLibraries/Rubeus
	url = https://github.com/GhostPack/Rubeus
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpSploit"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpSploit
	url = https://github.com/cobbr/SharpSploit
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpDPAPI"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpDPAPI
	url = https://github.com/GhostPack/SharpDPAPI
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpUp"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpUp
	url = https://github.com/GhostPack/SharpUp
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/Seatbelt"]
	path = RedWolf/Data/ReferenceSourceLibraries/Seatbelt
	url = https://github.com/GhostPack/Seatbelt
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpDump"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpDump
	url = https://github.com/GhostPack/SharpDump
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpWMI"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpWMI
	url = https://github.com/GhostPack/SharpWMI
	ignore = dirty
[submodule "redwolf/redwolf/data/referencesourcelibraries/certify"]
	path = redwolf/redwolf/data/referencesourcelibraries/certify
	url = git@github.com:ghostpack/certify.git
	ignore = dirty
[submodule "RedWolf/Data/ReferenceSourceLibraries/SharpSC"]
	path = RedWolf/Data/ReferenceSourceLibraries/SharpSC
	url = https://github.com/djhohnstein/SharpSC
	ignore = dirty
